.sidebar {
    flex: 0;
    height: 100vh; /* 화면 높이에서 50px을 뺀 만큼의 높이 */
    background-color: #c9c9c9;
    align-items: center;
    position: sticky;
    z-index: 1; /* z-index 추가 */
    border-right: #000000;
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
    
}

.sidebarListItem {
    margin-top: 20%;
    cursor: pointer;
    border-radius: 10px;
    white-space: nowrap;
    
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background-color: rgb(212, 209, 235);
}

.sidebarIcon {
    margin-right: 10px;
    font-size: 20px !important;
}

.SideAvatar {
    margin-top: 1vh;
    height: clamp(11vw, 13vw, 15vw); /* 최소 100px, 뷰포트 너비의 12%, 최대 120px */
    width: clamp(11vw, 13vw, 15vw); /* 최소 100px, 뷰포트 너비의 13%, 최대 130px */
    border-radius: 50%;
    cursor: pointer;
}

.SidebarText {
    text-align: center;
    font-size: clamp(1vw, 1vw, 1vw); /* 최소 20px, 뷰포트 너비의 3%, 최대 30px */
    font-weight: 1000;
    white-space: nowrap;
    margin-top: 2vw;
}

.SidebarLogo {
    margin-top: 0.5vw;
    display: flex; /* 플렉스박스로 설정 */
    align-items: center; /* 요소들을 수직 방향으로 중앙 정렬 */
    vertical-align: middle;
    margin-left: 1vw;
    
}

.SidebarLogoText{
    text-align: center;
    margin-left: 0vw;
    font-size: clamp(1.5vw, 1vw, 1.25vw); /* 최소 20px, 뷰포트 너비의 3%, 최대 30px */
    white-space: nowrap;
    font-weight: 1000;
    
    margin-bottom: 4vw;
}