.resister-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    width: 93vw;
    height: 100vh; /* 화면 전체 높이 */
    background-color: #1A1918;
}

.resister-form {
    background-color: white;
    padding: 50px;
    padding-right: 70px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 400px; /* 폼의 가로 크기 고정 */
}

.inputGroup {
    margin-bottom: 15px; /* 입력 그룹 사이의 여백 */
}

.input-label {
    font-size: 14px; /* 라벨 텍스트 크기 */
    color: #333; /* 텍스트 색상 */
    margin-bottom: 5px; /* 라벨 아래 마진 추가 */
}

.resister-input {
    padding: 10px;
    border: none; /* 테두리 제거 */
    border-bottom: 2px solid #ccc; /* 하단 밑줄 추가 */
    width: 100%;
    opacity: 0.7;
    height: 2.8vh;
    outline: none; /* 포커스 시 테두리 제거 */
}

.resister-input:focus {
    border-bottom: 2px solid #007bff; /* 포커스 시 색상 변경 */
}

.resister-button {
    padding: 10px;
    background-color: rgb(76, 175, 80);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* 버튼의 너비를 폼 너비에 맞춤 */
    margin-top: 15px;
}

.resister-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.success-message {
    color: green;
    margin-top: 10px;
    font-size: 14px;
}
.title_text {
    color: black;
    font-size: 20px;
    text-align: center;
    display: flex; /* Flexbox 활성화 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    height: 50px; /* 고정 높이 지정 */
    margin-bottom: 20px; /* 폼 내용과 간격 추가 */
}

