/* 기본 스타일 */
.sidebar {
    flex: 0;
    height: 100vh; /* 화면 높이 */
    background-color: #2B2E47;
    display: flex; /* 추가: 자식 요소 중앙 정렬 */
    flex-direction: column; /* 자식 요소 수직 배치 */
    align-items: center; /* 가로 중앙 정렬 */
    position: sticky;
    z-index: 1;
    padding: 0;
    margin: 0;
    width: 5%; /* 초기 너비 설정 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 우측에 옅은 그림자 */
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarListItem {
    margin-top: 20%;
    cursor: pointer;
    border-radius: 10px;
    white-space: nowrap;
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background-color: rgb(212, 209, 235);
}

/* 로고 스타일 */
.SidebarLogo {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-bottom: 20px; /* 여백 추가 */
}

.SideAvatar {
    width: 150%;
    object-fit: contain; /* 이미지 비율 유지 */
    border-radius: 10%; /* 원형으로 표시 */
}

.SidebarText {
    text-align: center;
    font-size: 0.9vw;
    font-weight: 1000;
    white-space: nowrap;
    margin-top: 20px;
    color: #848484;
}

.SidebarLogoText {
    text-align: center;
    white-space: nowrap;
    font-weight: 1000;
    font-size: 1.2vw;
    margin-bottom: 40px;
    color: rgb(76, 175, 80);
}

/* 모바일 해상도 */
@media (max-width: 768px) {
    .SideAvatar {
        width: 150%;
    }
}

/* FHD 해상도 */
@media (min-width: 769px) and (max-width: 1920px) {
    .SideAvatar {
        width: 110%;
    }
}

/* QHD 해상도 */
@media (min-width: 1921px) {
    .SideAvatar {
        width: 120%;
    }
}

