.home {
    flex: 3;
    display: flex;
    flex-direction: column;
    z-index: 200;

    /*background-image: url('./logo_main.png'); /* 이미지 경로를 적절히 수정하세요 */
    /*background-size: cover; /* 배경 이미지가 전체 영역을 덮도록 설정 */
    background-position: center; /* 배경 이미지의 위치를 중앙으로 설정 */
    height: 100vh; /* 전체 화면 높이로 설정 */
    width: 90vw; /* 전체 너비로 설정 */
    margin-left: 0vw;
    overflow-x: hidden;
    overflow-y: hidden; /* 가로 스크롤 숨김 */
    background-color: rgb(232, 232, 232);
}

.HomeText{
    margin-top: 10%;
    margin-bottom: 3%;
    text-align: center;
    margin-right: 2%;
    font-size: 3vw;
}